<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="server" value="TKNT-NB-01\SQLEXPRESS" />
		<add key="databaseName" value="MyBase" />
		<add key="userId" value="lgn_ais" />
		<add key="password" value="TW124*7&amp;bvd87!" />
		<add key="maxPoolSize" value="10"/>
	</appSettings>
</configuration>